@*Termina a primeira moldura*@



@*<section>
        <div class="row" id="section">

    </section>*@


<div id="moldura0">
    <div class="letrasdiretor" id="nomeDiretor0">
        Nome Diretor
    </div>

    <div class="generofixed">
        Data de Nascimento:


        <div class="genero" id="dataNasc0">
            dtaNascimento
        </div>
        <div class="genero" id="idDiretor0" style="visibility:hidden">TESTE</div>

    </div>

    <div class="espaco">
        <div class="genero">
            Bio:
        </div>

    </div>

    <div class="espaco">
        <div class="descricao" id="bio0">
            Bio
        </div>

    </div>
</div>

<div id="moldura1">
    <div class="letrasdiretor" id="nomeDiretor1">
        Nome Diretor
    </div>

    <div class="generofixed">
        Data de Nascimento:


        <div class="genero" id="dataNasc1">
            dtaNascimento
        </div>
        <div class="genero" id="idDiretor1" style="visibility:hidden">TESTE</div>

    </div>

    <div class="espaco">
        <div class="genero1">
            Bio:
        </div>

    </div>

    <div class="espaco">
        <div class="descricao" id="bio1">
            Bio
        </div>

    </div>
</div>

<div id="moldura2">
    <div class="letrasdiretor" id="nomeDiretor2">
        Nome Diretor
    </div>

    <div class="generofixed">
        Data de Nascimento:


        <div class="genero" id="dataNasc2">
            dtaNascimento
        </div>
        <div class="genero" id="idDiretor2" style="visibility:hidden">TESTE</div>

    </div>

    <div class="espaco">
        <div class="genero">
            Bio:
        </div>

    </div>

    <div class="espaco">
        <div class="descricao" id="bio2">
            Bio
        </div>

    </div>
</div>

<div id="moldura3">
    <div class="letrasdiretor" id="nomeDiretor3">
        Nome Diretor
    </div>

    <div class="generofixed">
        Data de Nascimento:


        <div class="genero" id="dataNasc3">
            dtaNascimento
        </div>
        <div class="genero" id="idDiretor3" style="visibility:hidden">TESTE</div>

    </div>

    <div class="espaco">
        <div class="genero">
            Bio:
        </div>

    </div>

    <div class="espaco">
        <div class="descricao" id="bio3">
            Bio
        </div>

    </div>
</div>

<div id="moldura4">
    <div class="letrasdiretor" id="nomeDiretor4">
        Nome Diretor
    </div>

    <div class="generofixed">
        Data de Nascimento:


        <div class="genero" id="dataNasc4">
            dtaNascimento
        </div>
        <div class="genero" id="idDiretor4" style="visibility:hidden">TESTE</div>

    </div>

    <div class="espaco">
        <div class="genero">
            Bio:
        </div>

    </div>

    <div class="espaco">
        <div class="descricao" id="bio4">
            Bio
        </div>

    </div>
</div>

<div id="moldura5">
    <div class="letrasdiretor" id="nomeDiretor5">
        Nome Diretor
    </div>

    <div class="generofixed">
        Data de Nascimento:


        <div class="genero" id="dataNasc5">
            dtaNascimento
        </div>
        <div class="genero" id="idDiretor5" style="visibility:hidden">TESTE</div>

    </div>

    <div class="espaco">
        <div class="genero">
            Bio:
        </div>

    </div>

    <div class="espaco">
        <div class="descricao" id="bio5" maxlength="15">
            Bio
        </div>
    </div>
</div>